/* src/components/Navbar.module.css */

.main_navbar {
  padding: 2rem;
  text-align: center;
  background-color: #edf2f0;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #333;
}
