/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

img {
  max-width: 100%;
}

body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-weight: 700;
}

.panel {
  background-color: #edf2f0;
  border-radius: 4px;
}